In [2]:
import pandas as pd

In [46]:
df_def = pd.read_csv("./Combined Data/Defenders_data_2023-24.csv")
df_att = pd.read_csv("./Combined Data/Attackers_data_2023-24.csv")

In [7]:
df.columns

Index(['Player', 'Nation', 'Pos', 'Squad', 'Age', 'Born', '90s', 'Tkl', 'TklW',
       'Def_3rd', 'Mid_3rd', 'Att_3rd', 'Tkl.1', 'Att', 'Tkl%', 'Lost',
       'Blocks', 'Sh', 'Pass', 'Int', 'Tkl+Int', 'Clr', 'Err'],
      dtype='object')

In [13]:
df_def = df_def[df_def['Pos']=="DF"]

In [14]:
df_att = df_att[df_att['Pos']=="DF"]

In [30]:
df = pd.concat([df_att,df_def],axis=1,names=['Player','Nation','Age','Born','MP','Starts','Min','90s'])

In [33]:
df.columns

Index(['Player', 'Nation', 'Pos', 'Squad', 'Age', 'Born', 'MP', 'Starts',
       'Min', '90s', 'Gls/90', 'Ast/90', 'G+A/90', 'G-PK/90', 'G+A-PK/90',
       'xG/90', 'xAG/90', 'xG+xAG/90', 'npxG/90', 'npxG+xAG/90', 'CrdR/90',
       'CrdY/90', 'PrgR/90', 'PrgC/90', 'PrgP/90', 'Player', 'Nation', 'Pos',
       'Squad', 'Age', 'Born', '90s', 'Tkl', 'TklW', 'Def_3rd', 'Mid_3rd',
       'Att_3rd', 'Tkl.1', 'Att', 'Tkl%', 'Lost', 'Blocks', 'Sh', 'Pass',
       'Int', 'Tkl+Int', 'Clr', 'Err'],
      dtype='object')

In [23]:
df.drop(['Pos', 'Squad','Def_3rd', 'Mid_3rd',
       'Att_3rd',])

Index(['Player', 'Nation', 'Pos', 'Squad', 'Age', 'Born', '90s', 'Tkl', 'TklW',
       'Def_3rd', 'Mid_3rd', 'Att_3rd', 'Tkl.1', 'Att', 'Tkl%', 'Lost',
       'Blocks', 'Sh', 'Pass', 'Int', 'Tkl+Int', 'Clr', 'Err'],
      dtype='object')

# Attacker

In [5]:
df_att = pd.read_csv("./Combined Data/Attackers_data_2023-24.csv")

In [6]:
df_att = df_att[df_att['Pos']=="FW"]
df_att = df_att[df_att['Min']>=1500]

In [7]:
df_att.columns

Index(['Player', 'Nation', 'Pos', 'Squad', 'Age', 'Born', 'MP', 'Starts',
       'Min', '90s', 'Gls/90', 'Ast/90', 'G+A/90', 'G-PK/90', 'G+A-PK/90',
       'xG/90', 'xAG/90', 'xG+xAG/90', 'npxG/90', 'npxG+xAG/90', 'CrdR/90',
       'CrdY/90', 'PrgR/90', 'PrgC/90', 'PrgP/90'],
      dtype='object')

In [85]:
df_att.info()

<class 'pandas.core.frame.DataFrame'>
Index: 150 entries, 5 to 2183
Data columns (total 26 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Player              150 non-null    object
 1   Nation              150 non-null    object
 2   Pos                 150 non-null    object
 3   Squad               150 non-null    object
 4   Age                 150 non-null    float64
 5   Born                150 non-null    float64
 6   MP                  150 non-null    int64
 7   Starts              150 non-null    int64
 8   Min                 150 non-null    int64
 9   90s                 150 non-null    float64
 10  Gls/90              150 non-null    float64
 11  Ast/90              150 non-null    float64
 12  G+A/90              150 non-null    float64
 13  G-PK/90             150 non-null    float64
 14  G+A-PK/90           150 non-null    float64
 15  xG/90               150 non-null    float64
 16  xAG/90              150 non-null    float64
 17  xG+xAG/90           150 non-null    float64
 18  npxG/90             150 non-null    float64
 19  npxG+xAG/90         150 non-null    float64
 20  CrdR/90             150 non-null    float64
 21  CrdY/90             150 non-null    float64
 22  PrgR/90             150 non-null    float64
 23  PrgC/90             150 non-null    float64
 24  PrgP/90             150 non-null    float64
 25  Performance_rating  150 non-null    float64
dtypes: float64(19), int64(3), object(4)
memory usage: 31.6+ KB

In [8]:
def att_performance(row):
    if row['90s']!=0:
        result = (row['Gls/90'] * 4) + (row['Ast/90'] * 3) + (row['CrdR/90'] * -3) + (row['CrdY/90'] * -1)
        return round(result, 2)

In [9]:
df_att.drop(['Pos','Squad','Born','Min'],axis=1,inplace=True)

In [10]:
df_att['Performance_rating'] = df_att.apply(att_performance,axis=1)

In [11]:
df_att.to_csv('./Performance Rating/Attackers_data.csv',index=False)

## Midfielders

In [12]:
import pandas as pd
df_def = pd.read_csv("./Combined Data/Defenders_data_2023-24.csv")
df_att = pd.read_csv("./Combined Data/Attackers_data_2023-24.csv")

In [13]:
df_att = df_att[df_att['Pos']=="MF"]
df_def = df_def[df_def['Pos']=="MF"]

In [14]:
df_att.columns

Index(['Player', 'Nation', 'Pos', 'Squad', 'Age', 'Born', 'MP', 'Starts',
       'Min', '90s', 'Gls/90', 'Ast/90', 'G+A/90', 'G-PK/90', 'G+A-PK/90',
       'xG/90', 'xAG/90', 'xG+xAG/90', 'npxG/90', 'npxG+xAG/90', 'CrdR/90',
       'CrdY/90', 'PrgR/90', 'PrgC/90', 'PrgP/90'],
      dtype='object')

In [7]:
df_def.columns

Index(['Player', 'Nation', 'Pos', 'Squad', 'Age', 'Born', '90s', 'Tkl', 'TklW',
       'Def_3rd', 'Mid_3rd', 'Att_3rd', 'Tkl.1', 'Att', 'Tkl%', 'Lost',
       'Blocks', 'Sh', 'Pass', 'Int', 'Tkl+Int', 'Clr', 'Err'],
      dtype='object')

In [15]:
df = pd.merge(df_att,df_def,on=['Player','Nation','Age','Born','90s'])

In [16]:
df.drop(['Def_3rd', 'Mid_3rd', 'Att_3rd','Blocks', 'Sh', 'Pass','Tkl+Int', 'Clr', 'Err'],axis=1,inplace=True)

In [30]:
df.head()

,Player,Nation,Pos_x,Squad_x,Age,Born,MP,Starts,Min,90s,...,PrgP/90,Pos_y,Squad_y,Tkl,TklW,Tkl.1,Att,Tkl%,Lost,Int
0,Tyler Adams,USA,MF,Bournemouth,25.0,1999.0,2,1,110,1.2,...,3.33,MF,Bournemouth,3.33,2.50,1.67,2.50,66.7,0.83,3.33
1,Naouirou Ahamada,FRA,MF,Crystal Palace,22.0,2002.0,19,0,279,3.1,...,5.81,MF,Crystal Palace,3.23,2.26,1.94,4.52,42.9,2.58,0.32
2,Thiago Alcántara,ESP,MF,Liverpool,33.0,1991.0,1,0,6,0.1,...,0.00,MF,Liverpool,0.00,0.00,0.00,0.00,NaN,0.00,0.00
3,Edson Álvarez,MEX,MF,West Ham,26.0,1997.0,29,27,2312,25.7,...,3.46,MF,West Ham,3.07,1.52,1.21,2.45,49.2,1.25,1.63
4,Julián Álvarez,ARG,MF,Manchester City,24.0,2000.0,33,31,2628,29.2,...,3.53,MF,Manchester City,0.82,0.45,0.27,1.06,25.8,0.79,0.07

In [31]:
df = df[df['Min']>1500]

In [32]:
# As a midfielder moving the ball up is important hence value for progressive carries and passes.df_att['Performance_rating'] = df_att.apply(att_performance,axis=1)
def mid_performance(row):
    if row['90s']!=0:
        result = (row['Gls/90'] * 5) + (row['Ast/90'] * 3) + (row['CrdR/90'] * -3) + (row['CrdY/90'] * -1) + (row['PrgP/90']*2) + (row['PrgC/90']*3) 
        return round(result, 2)

In [33]:
df['Performance_rating'] = df.apply(mid_performance,axis=1)

In [34]:
df.head()

,Player,Nation,Pos_x,Squad_x,Age,Born,MP,Starts,Min,90s,...,Pos_y,Squad_y,Tkl,TklW,Tkl.1,Att,Tkl%,Lost,Int,Performance_rating
3,Edson Álvarez,MEX,MF,West Ham,26.0,1997.0,29,27,2312,25.7,...,MF,West Ham,3.07,1.52,1.21,2.45,49.2,1.25,1.63,9.19
4,Julián Álvarez,ARG,MF,Manchester City,24.0,2000.0,33,31,2628,29.2,...,MF,Manchester City,0.82,0.45,0.27,1.06,25.8,0.79,0.07,15.83
9,Leon Bailey,JAM,MF,Aston Villa,26.0,1997.0,33,20,1888,21.0,...,MF,Aston Villa,0.48,0.24,0.19,0.81,23.5,0.62,0.38,24.87
12,Ross Barkley,ENG,MF,Luton Town,30.0,1993.0,30,28,2490,27.7,...,MF,Luton Town,1.70,0.69,0.40,1.73,22.9,1.34,0.90,16.84
16,Sander Berge,NOR,MF,Burnley,26.0,1998.0,34,31,2735,30.4,...,MF,Burnley,2.37,1.41,1.05,1.81,58.2,0.76,0.76,14.77

In [37]:
df.to_csv('./Performance Rating/Midfielders_data.csv',index=False)

## Defender Data

In [55]:
import pandas as pd
df_def = pd.read_csv("./Combined Data/Defenders_data_2023-24.csv")
df_att = pd.read_csv("./Combined Data/Attackers_data_2023-24.csv")

In [56]:
df_att = df_att[df_att['Pos']=="DF"]
df_def = df_def[df_def['Pos']=="DF"]

In [57]:
df = pd.merge(df_att,df_def,on=['Player','Nation','Age','Born','90s'])

In [58]:
df.drop(['Def_3rd', 'Mid_3rd', 'Att_3rd','G+A/90', 'G-PK/90', 'G+A-PK/90',
       'xG/90', 'xAG/90', 'xG+xAG/90', 'npxG/90', 'npxG+xAG/90','PrgR/90', 'PrgC/90', 'PrgP/90'],axis=1,inplace=True)

In [59]:
df = df[df['Min']>1500]

In [60]:
df.columns

Index(['Player', 'Nation', 'Pos_x', 'Squad_x', 'Age', 'Born', 'MP', 'Starts',
       'Min', '90s', 'Gls/90', 'Ast/90', 'CrdR/90', 'CrdY/90', 'Pos_y',
       'Squad_y', 'Tkl', 'TklW', 'Tkl.1', 'Att', 'Tkl%', 'Lost', 'Blocks',
       'Sh', 'Pass', 'Int', 'Tkl+Int', 'Clr', 'Err'],
      dtype='object')

In [61]:
# As a Defender tackling intercepting and blocks plays a crucial role and errors leading to goalsdf.to_csv('./Performance Rating/Midfielders_data.csv',index=False)
def def_performance(row):
    if row['90s']!=0:
        result = (row['Gls/90'] * 6) + (row['Ast/90'] * 3) + (row['CrdR/90'] * -3) + (row['CrdY/90'] * -1) + (row['TklW'] * 3) + (row['Int']*3) + (row['Clr'] * 2) + (row['Err'] * -2) 
        return round(result, 2)

In [62]:
df['Performance_rating'] = df.apply(def_performance,axis=1)

In [63]:
df.to_csv('./Performance Rating/Defenders_data.csv',index=False)

## Goal keepers data

In [9]:
df_goal = pd.read_csv("./Combined Data/Goalkeepers_data_2023-24.csv")
df_att = pd.read_csv("./Combined Data/Attackers_data_2023-24.csv")

In [10]:
df_att = df_att[df_att['Pos']=="GK"]

In [11]:
df = pd.merge(df_att,df_goal,on=['Player','Nation','Age','Born','90s'])

In [13]:
df.columns

Index(['Player', 'Nation', 'Pos_x', 'Squad_x', 'Age', 'Born', 'MP_x',
       'Starts_x', 'Min_x', '90s', 'Gls/90', 'Ast/90', 'G+A/90', 'G-PK/90',
       'G+A-PK/90', 'xG/90', 'xAG/90', 'xG+xAG/90', 'npxG/90', 'npxG+xAG/90',
       'CrdR/90', 'CrdY/90', 'PrgR/90', 'PrgC/90', 'PrgP/90', 'Pos_y',
       'Squad_y', 'MP_y', 'Starts_y', 'Min_y', 'GA', 'GA90', 'SoTA', 'Saves',
       'Save%', 'W', 'D', 'L', 'CS', 'CS%', 'PKatt', 'PKA', 'PKsv', 'PKm',
       'PSave%'],
      dtype='object')

In [15]:
df.drop(['W','D','L','CS%','PKatt','PKA','G+A/90', 'G-PK/90', 'G+A-PK/90',
       'xG/90', 'xAG/90', 'xG+xAG/90', 'npxG/90', 'npxG+xAG/90','PrgR/90', 'PrgC/90', 'PrgP/90'],axis=1,inplace=True)

In [16]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 130 entries, 0 to 129
Data columns (total 28 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Player    130 non-null    object
 1   Nation    130 non-null    object
 2   Pos_x     130 non-null    object
 3   Squad_x   130 non-null    object
 4   Age       130 non-null    float64
 5   Born      130 non-null    float64
 6   MP_x      130 non-null    int64
 7   Starts_x  130 non-null    int64
 8   Min_x     130 non-null    int64
 9   90s       130 non-null    float64
 10  Gls/90    130 non-null    float64
 11  Ast/90    130 non-null    float64
 12  CrdR/90   129 non-null    float64
 13  CrdY/90   129 non-null    float64
 14  Pos_y     130 non-null    object
 15  Squad_y   130 non-null    object
 16  MP_y      130 non-null    int64
 17  Starts_y  130 non-null    int64
 18  Min_y     130 non-null    int64
 19  GA        130 non-null    float64
 20  GA90      130 non-null    float64
 21  SoTA      130 non-null    float64
 22  Saves     130 non-null    float64
 23  Save%     129 non-null    float64
 24  CS        130 non-null    float64
 25  PKsv      130 non-null    float64
 26  PKm       130 non-null    float64
 27  PSave%    87 non-null     float64
dtypes: float64(16), int64(6), object(6)
memory usage: 28.6+ KB

In [18]:
# As a goalkeeper keeping clean sheets and not conceeding goals is important as well savong penalties
def goal_performance(row):
    if row['90s']!=0:
        result = (row['Gls/90'] * 6) + (row['PKsv'] * 3) + (row['CrdR/90'] * -3) + (row['CrdY/90'] * -1) + (row['CS'] * 4) + (row['GA']*0.5) 
        return round(result, 2)

In [20]:
df['Performance_rating'] = df.apply(goal_performance,axis=1)

In [21]:
df.to_csv('./Performance Rating/Goalkeepers_data.csv',index=False)